{% extends 'customer/base.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12 text-center text-white">
            <h1>Menu</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center text-white light">
            <form method="GET" action="{% url 'menu-search' %}">
                <div class="md-form mt-0 active-cyan-2">
                    <input class="form-control" name="q" type="text" placeholder="Search Our Menu" aria-label="Search" value="{{ request.GET.q }}" style="color: white;">
                </div>
            </form>
        </div>
    </div>    

    <div class="container mt-5" style="padding-bottom: 100px;">
        <div class="row">
            {% for item in menu_items %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card bg-dark rounded-lg" style="height: 100%;">

                        <img class="card-img-top rounded-lg" src="{{ item.image.url }}" alt="{{ item.name }}" style="height: 200px; object-fit: cover;">

                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-white">{{ item.name }}</h5> 
                            <p class="card-text">Price: ${{ item.price }}</p> 
                            <p class="card-text">{{ item.description }}</p>  
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
