<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #02468f;">
  <a class="navbar-brand text-white" href="{% url 'index' %}" style="font-size: 2rem;">OFOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'about' %}" style="font-size: 1.2rem;">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'menu' %}" style="font-size: 1.2rem;">Menu</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      {% if request.path != '/' %}
      <div class="mt-2">
        <a href="{% url 'order' %}" class="btn btn-lg btn-light">Order Now!</a>
      </div>
      {% endif %}
    </ul>
  </div>
</nav>



